.container {
  padding: 0 1rem;
}

.btnSubmit {
  display: inline-block;
  border: none;
  background-color: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: #666;
}